---
layout: default
---

<div class="header-title">
  <img src="/images/cslab_logos.png" desc="logo" />
</div>
<div class="header-title-desc">
  <span><b>C</b>yber <b>S</b>afety <b>LAB</b></span>
</div>

<h2 class="section">Welcome!</h2>

<div class="section-desc">
  Data Intelligence and Learning (DIAL) lab is primarily interested in (1) recommendation systems, (2) information
  retrieval, (3) data mining, (4) natural language processing, and (5) machine learning algorithms.
  Specifically, our research aims at improving user personalization by developing core models and algorithms on Web
  applications such as recommendation systems and search engines.
  Also, we study developing more sophisticated machine learning models that effectively learn noisy and biased data.
  Over the past three years, we published several papers in top-tier international conferences (e.g., WWW, ICDM, CIKM,
  WSDM, NAACL, and CVPR) in data mining, natural language processing, and machine learning research areas.
</div>

<a href="/research" , style="color:black">
  <p style="text-align:right">Details ></p>
</a>

<h2 class="section">Recent News</h2>
<div class="list">
  {% if site.categories.news %}
  {% assign sorted = site.categories.news | sort: "date" | reverse %}
  <!-- This loops through the paginated posts -->
  {% for post in sorted limit:5 %}
  <div class="list-post">
    {% if post.link %}
    <a href="{{ post.link }}">
      {% else %}
      <a href="{{ post.url | prepend: site.baseurl }}">
        {% endif %}
        <div class="list-post-date">
          <time>{{ post.date | date_to_string }}</time>
        </div>
        <div class="list-post-title">
          {{ post.title }}
        </div>
        {% if post.description %}
        <div class="list-post-desc">
          {{ post.description }}
        </div>
        {% endif %}
      </a>
    </a>
  </div>
  {% endfor %}
  <a href="news/index.html" , style="color:black">
    <p style="text-align:right">more ></p>
  </a>
  {% else %}
  <h2>No news found</h2>
  {% endif %}

  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img class="swiper-img banner1" src="/post_images/banner1.jpg" />
        <div class="swiper-tint">
        </div>
      </div>
      <div class="swiper-slide">
        <img class="swiper-img banner1" src="/post_images/banner2.jpg" />
        <div class="swiper-tint">
        </div>
      </div>
      <div class="swiper-slide">
        <img class="swiper-img banner1" src="/post_images/banner3.jpg" />
        <div class="swiper-tint">
        </div>
      </div>
    </div>
    <div class="swiper-pagination swiper-pagination-white"></div>
    <div class="swiper-button-prev swiper-button-white"></div>
    <div class="swiper-button-next swiper-button-white"></div>
  </div>



  <script>
    window.onload = function () {
      var mySwiper = new Swiper('.swiper-container', {
        loop: true,

        pagination: {
          el: '.swiper-pagination',
        },

        autoplay: {
          delay: 5000,
          disableOnInteraction: true,
        },

        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },

        scrollbar: {
          el: '.swiper-scrollbar',
        },
      })
    }
  </script>

  <style>
    .swiper-container {
      height: 35rem;
    }

    /* .banner2 {
    object-fit: cover !important;
  } */
  </style>
